{% extends 'layout.html' %}

{% block body %}

<div class="row">
    <div class="col-md-5">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="car-car-body">
            <form action="/add_contac" method="post">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="nombre" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" placeholder="apellido" class="form-control">
                </div>
                <div class="form-group">                    
                    <input type="text" name="email" placeholder="email" class="form-control">
                </div>
                <div class="form-group">                    
                    <input type="text" name="telefono" placeholder="telefono" class="form-control">
                </div>                  
                    <button type="submit" class="btn btn-primary btn-block"> Save </button>
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <table class="table table-striped table-bordered bg-white table-sm">
            <thead>
                <tr>
                    <td>nombre</td>
                    <td>apellido</td>
                    <td>email</td>
                    <td>telefono</td>
                    <td>operations</td>
                </tr>
            </thead>
            <tbody>
                {% for contac in contacs %}
                <tr>
                    <td> {{contac.1}} </td>
                    <td> {{contac.2}} </td>
                    <td> {{contac.3}} </td>
                    <td> {{contac.4}} </td>
                    <td> 
                        <a href="/edit/{{contac.0}}" class="btn btn-secondary">Edit</a> 
                        <a href="/delete/{{contac.0}}" class="btn btn-danger btn-delete">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>







{% endblock %}
